@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #171717;
    --bg-color-light: #111111;
}

body {
    background-color: #171717;
    margin: 0;
    /* overflow: hidden; */
}

.neumorphism {
    background: #171717;
    box-shadow: 10px 10px 20px #111111, -3px -3px 20px #111111;
}

.main-container {
    display: flex;

    justify-content: center;
    padding: 8rem 0;
}

.glass-container {
    width: 45vw;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.background-player {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 60vw;
    overflow: hidden;
    background-image: url('/BallPlayer.svg');
    padding: 1.5em 0;
    bottom: 0;
    left: 3%;
    z-index: -1;
}

.table-content__logo-container {
    display: flex;
    justify-content: center;
}

.table-content__logo-container svg {
    width: 3rem;
    height: 3rem;
}

.modal {
    width: 50%;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}
@media (max-width: 900px) {
    .modal {
        width: 80%;
    }
}

@media (max-width: 430px) {
    .modal {
        width: 100%;
    }
}

/* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
} */
